<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639763048137-qfqe7hicq2bm5j4nj5lpo14f8g11mlet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639763048137-qfqe7hicq2bm5j4nj5lpo14f8g11mlet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639763048137-hp8g2fdtib9t4cjitf6usfck98g4qiab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDxcpM9lkhswAdxULW0cTtna6Cl8kfuoE</string>
	<key>GCM_SENDER_ID</key>
	<string>639763048137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BT.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>test-firestore-ee84a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firestore-ee84a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639763048137:ios:6af30a3275aa92525a4f18</string>
</dict>
</plist>